.container {
  width: 100%;
  transform: rotate(-0.99deg);
  margin-bottom: 150px;
}

.marquee {
  white-space: nowrap;
  animation: marquee 18s linear infinite;

  span {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 19px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 46.188rem){
  .container {
      margin-bottom: 50px;
    }
}